<div>
    <input type="text" ng-model="searchWord" class="form-control" style="text-transform:uppercase;" placeholder="筛选" />
</div>
<br />
<div class="panel panel-default" ng-repeat="(schema, tables) in groups">
    <div class="panel-heading">
        <h3 class="panel-title">{{schema}}</h3>
    </div>
    <div class="panel-body" style="padding-bottom: 0px;">
        <div class="row">
            <div ng-repeat="table in tables" class="col-sm-4">
                <div class="panel panel-default hover-blue-border active-blue-background" ng-click="tableClicked(schema+'.'+table.TABLE_NAME)" style="cursor: pointer;">
                    <div class="panel-body">
                        <div>{{table.TABLE_NAME}}</div>
                        <div>{{table.COMMENTS}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">代码生成</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 5px;">
                <div><button type="button" class="btn btn-default" style="width: 100%;" ng-click="navToModelSql()">Model + SQLMap</button></div>
                <br />
                <div><button type="button" class="btn btn-default" style="width: 100%;" ng-click="navToServiceJspJs()">JSP + JS + Service</button></div>
                <br />
            </div>
        </div>
    </div>
</div>