<div>
    <input type="text" ng-model="searchWord" class="form-control" style="text-transform:uppercase;" placeholder="筛选" />
</div>
<br />
<div ng-show="loading" style="text-align: center;">
    {{loadingText}}
</div>

<div class="panel panel-default" ng-repeat="(schema, tables) in groups">
    <div class="panel-heading">
        <h3 class="panel-title">{{schema}}</h3>
    </div>
    <div class="panel-body" style="padding-bottom: 0px;">
        <div class="row">
            <div ng-repeat="table in tables" class="col-sm-4">
                <div class="panel panel-default hover-blue-border active-blue-background" ng-click="tableClicked(schema+'.'+table.TABLE_NAME)" style="cursor: pointer;">
                    <div class="panel-body">
                        <div>{{table.TABLE_NAME}}</div>
                        <div>{{table.COMMENTS}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
